In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import torch
import torchtext
from torchtext.data import Field, LabelField
from torchtext.data import TabularDataset
from torchtext.data import Iterator, BucketIterator
import spacy
import en_core_web_sm
from torch.utils.data import TensorDataset, DataLoader, RandomSampler, SequentialSampler
import torch.nn as nn
import torch.nn.functional as F
import torch.autograd as autograd
from tqdm import tqdm, trange
import numpy as np
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, classification_report, confusion_matrix
import json
import pandas as pd
from nltk.translate.bleu_score import corpus_bleu
import os
import sys
import requests
from spacy.pipeline import SentenceSegmenter
from nltk.tokenize import word_tokenize, sent_tokenize
import nltk
nltk.download('punkt')
import time
import numpy as np

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [4]:
! pip install -U nltk
corpus_bleu([[['are', 'you', 'going', 'to', 'enter', 'the', 'competition', '?']]], 
            [['i', 'i', 'the', 'the', 'the', 'the', '.', '.', '.', '.', '.', '.']], 
            weights=(0.25, 0.25, 0.25, 0.25))

Requirement already up-to-date: nltk in /usr/local/lib/python3.6/dist-packages (3.5)
Requirement already satisfied, skipping upgrade: click in /usr/local/lib/python3.6/dist-packages (from nltk) (7.1.1)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from nltk) (4.38.0)
Requirement already satisfied, skipping upgrade: joblib in /usr/local/lib/python3.6/dist-packages (from nltk) (0.14.1)
Requirement already satisfied, skipping upgrade: regex in /usr/local/lib/python3.6/dist-packages (from nltk) (2019.12.20)

/usr/local/lib/python3.6/dist-packages/nltk/translate/bleu_score.py:516: UserWarning:
The hypothesis contains 0 counts of 2-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
/usr/local/lib/python3.6/dist-packages/nltk/translate/bleu_score.py:516: UserWarning:
The hypothesis contains 0 counts of 3-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
/usr/local/lib/python3.6/dist-packages/nltk/translate/bleu_score.py:516: UserWarning:
The hypothesis contains 0 counts of 4-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)

9.788429383461836e-232

In [5]:
## Set seed of randomization and working device
manual_seed = 77
torch.manual_seed(manual_seed)
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)
n_gpu = torch.cuda.device_count()
if n_gpu > 0:
    torch.cuda.manual_seed(manual_seed)

cuda

#Dataset download

In [0]:
# subdir = 'data'
# if not os.path.exists(subdir):
#     os.makedirs(subdir)
# subdir = subdir.replace('\\','/') # needed for Windows

# for ds in [
#     'webtext',
# #     'small-117M',  'small-117M-k40',
# #     'medium-345M', 'medium-345M-k40',
# #     'large-762M',  'large-762M-k40',
#     'xl-1542M',    'xl-1542M-k40',
# ]:
#     for split in ['train', 'valid', 'test']:
#         filename = ds + "." + split + '.jsonl'
#         r = requests.get("https://storage.googleapis.com/gpt-2/output-dataset/v1/" + filename, stream=True)

#         with open(os.path.join(subdir, filename), 'wb') as f:
#             file_size = int(r.headers["content-length"])
#             chunk_size = 1000
#             with tqdm(ncols=100, desc="Fetching " + filename, total=file_size, unit_scale=True) as pbar:
#                 # 1k for chunk_size, since Ethernet packet size is around 1500 bytes
#                 for chunk in r.iter_content(chunk_size=chunk_size):
#                     f.write(chunk)
#                     pbar.update(chunk_size)

Fetching webtext.train.jsonl: 679Mit [00:09, 70.0Mit/s]
Fetching webtext.valid.jsonl: 13.6Mit [00:00, 41.7Mit/s]
Fetching webtext.test.jsonl: 13.5Mit [00:00, 37.8Mit/s]
Fetching xl-1542M.train.jsonl: 724Mit [00:12, 59.8Mit/s]
Fetching xl-1542M.valid.jsonl: 14.4Mit [00:01, 9.29Mit/s]
Fetching xl-1542M.test.jsonl: 14.6Mit [00:00, 56.9Mit/s]
Fetching xl-1542M-k40.train.jsonl: 748Mit [00:09, 77.5Mit/s]
Fetching xl-1542M-k40.valid.jsonl: 15.0Mit [00:00, 54.4Mit/s]
Fetching xl-1542M-k40.test.jsonl: 14.6Mit [00:00, 64.5Mit/s]

In [0]:
# code to explore data

data_dir = "/content/drive/My Drive/Colab Notebooks/data/"

def _load_split(data_dir, source, split, n=np.inf):
    path = os.path.join(data_dir, f'{source}.{split}.jsonl')
    texts = []
    for i, line in enumerate(open(path)):
        if i >= n:
            break
        texts.append(json.loads(line)['text'])
    return texts

text = _load_split(data_dir, "webtext", split="train")

text[:10]

["These girlfriends deserves a special mention for going that extra mile, hopefully doesn't set too many guys off on the path towards outrageous demands.\n\n1. She knows the severity of man-flu\n\n2. All fun and games is all good\n\n3. A voucher that says 'I love you'\n\n4. When arguments don't drag on forever.\n\n5. Providing everything he needs.\n\n6. Very understanding\n\n7. As awesome a gesture as this is, we are worried about this man's cooking skills.\n\n8. Nice cake\n\n8. Fair bargaining\n\n9. Excellent gift choice\n\n10. Very thoughtful",
 'LeSean McCoy going through warmups with first team offense. To my eye, does not look close to 100 percent when cutting and exploding.\n\nABOUT COOKIES\n\nTo help make this website better, to improve and personalize your experience and for advertising purposes, are you happy to accept cookies and other technologies?',
 "Tom Curran has been called up to England's Ashes squad. The 22-year-old Surrey all-rounder will fly out to Australia in the next 24 hours as a replacement for Steven Finn, after the Middlesex fast bowler was ruled out of the rest of the tour with a torn left knee cartilage.\n\nCurran is yet to play a Test match for England. However, he broke into the white-ball side during the 2017 season, making his debut in Twenty20 and one-day international cricket, and impressed the England management with his attitude.\n\nCoach Trevor Bayliss is known to be a fan, and so Curran has been preferred to the likes of Liam Plunkett, Tom Helm, George Garton and Mark Wood as England seek to bolster their ailing pace-bowling reserves ahead of the toughest series of them all.\n\nShape Created with Sketch. England Ashes squad Show all 17 left Created with Sketch. right Created with Sketch. Shape Created with Sketch. England Ashes squad 1/17 Captain: Joe Root England's Mr Dependable will lead his side into an Ashes series for the first time, and while he has the experience of the series wins in 2013 and 2015, he also has the scars of the last trip Down Under. Getty 2/17 Batsman: Alastair Cook The former captain will be crucial to England's hopes, with the Essex opener needing to find the same resilient form that he displayed in Australia in the 2010/11 series. Getty 3/17 Batsman: Mark Stoneman Cook's likely opening partner will be Mark Stoneman after selectors decided to stick with him despite a nervous series against the West Indies. Getty 4/17 Batsman/spinner: Dawid Malan Malan showed glimpses of promise this summer and can also offer an option with the ball, but he is untested on the hard pitches of Australia and could be found out. Getty 5/17 Batsman: Gary Ballance Ballance is handed yet another chance to salvage his England career as the selectors hope he will eventually come good for their unyielding faith. Getty 6/17 Batsman: James Vince Vince is the surprise inclusion in the squad, having done little of note in county cricket since being dropped in 2016. Getty 7/17 Batsman/spinner: Moeen Ali Moeen Ali could easily go on to be man of the series given his ability to deliver fireworks with bat and ball. He may disagree, but he is undoubtedly England's front line spinner. Getty 8/17 Batsman/spinner: Mason Crane Crane is yet to make his full debut, though took a wonderful catch against the West Indies as a substitute fielder and will head to Australia as a back-up leg-break spiner bowler. Getty 9/17 Wicketkeeper: Ben Foakes Foakes will head to Australia as a deputy for first-choice wicketkeeper Jonny Bairstow. Getty 10/17 Wicketkeeper: Jonny Bairstow Another man who will need to produce runs to give England a chance of victory, with his ability in the mid-order giving the tourists a bite throughout the line-up. Getty 11/17 All-rounder: Ben Stokes Stokes is named in the side despite falling under a huge cloud after his arrest on a late night out in Bristol. His future as vice-captain looks very much in doubt. Getty 12/17 All-rounder: Chris Woakes Woakes will provide rest for the front-line bowlers and will also prove handy with the bat. Getty 13/17 Bowler: Stuart Broad Broad has long set his sights on this Ashes tour as he hopes to make up for the 2013/14 humiliation, and his opening partnership with James Anderson will set the tone for how England will cope out in Australia. Getty 14/17 Bowler: James Anderson England's leading Test wicket-taker will be wrapped in cotton wool until the first Test, though he will have to deliver the goods in a country where swing can be hard to find. Getty 15/17 Bowler: Jake Ball Ball could prove to be England's joke in the pack given his extra pace and bounce. Think Chris Tremlett a la 2010/11. It's just a case of keeping him fit. Getty 16/17 Bowler: Craig Overton The third uncapped member of the squad, Overton has been rewarded for a solid season with Somerset. Getty 17/17 Bowler: Tom Curran Called up by England to replace Steven Finn, who had previously been called up due to Ben Stokes' uncertainty. Getty 1/17 Captain: Joe Root England's Mr Dependable will lead his side into an Ashes series for the first time, and while he has the experience of the series wins in 2013 and 2015, he also has the scars of the last trip Down Under. Getty 2/17 Batsman: Alastair Cook The former captain will be crucial to England's hopes, with the",
 'We\'ll have turkey on the table Thursday but, as yet, it looks like no turkey in the Presidential on-deck circle. And both Gov. Howard Dean and Congressman Bernie Sanders think credit should go where credit is due. That means, thank you, Ralph Nader. Thanks a whole frickin\' lot!\n\nShortly after the votes were counted and the stalemate began, Dean said he hoped the Nader voters in the Sunshine State — all 93,000 — were "happy." Said he hoped they would be comfortable with the Supreme Court justices that Dubya will be appointing if he proves to be the eventual winner. Dean supported Ralph Nader\'s right to run, but sarcastically expressed the hope that Nader\'s supporters will live at peace with themselves under the looming Bush administration.\n\nAnd Sanders, an old friend of the Green Party candidate, was even more upset.\n\n"It seemed to me," said Ol\' Bernardo, "that in the last month or two, Nader really made a deliberate effort to defeat Al Gore. He went to those states where the races were closest and was pretty clear about his goal. I don\'t understand that and I think that was wrong."\n\nHindsight\'s always 20-20.\n\nThanks, Ralph.\n\nCivil-Unions Update — The 11-member commission established by Act 91 met last week at the Statehouse to check up on how Vermont\'s landmark legalization of love for all couples was shaking out. The news was quite good.\n\nSteve Patterson, deputy commerce secretary, reported no negative repercussions whatsoever to date. While there\'s plenty of anecdotal information about the positive effect the more than 1200 civil unions have had on Vermont\'s hospitality sector, Patterson said his agency had compiled no data to quantify that.\n\nTown Clerk Linda Spence of Manchester told the commission over the speakerphone that implementation of the civil-unions law has been remarkably smooth. Vance is also a justice of the peace and the president of the Association of Town Clerks and Treasurers. She was familiar with just one case of rude treatment given an out-of-state lesbian couple by a town official in Weston.\n\n"The sun still rises and sets in Vermont," said Spence. "I myself am a heterosexual, but I have to say my experiences both as town clerk and justice of the peace have been nothing but positive with this law in place. It has proved to me to be one of the most moving and emotional pieces of legislation I have seen, and I don\'t see where it does any harm to anybody."\n\nWe\'re No.1??? — University of Vermont men\'s ice hockey Coach Mike Gilligan told Seven Days Tuesday morning he\'s hanging in there. After all, the guy\'s a veteran of the game. A senior statesman. An institution.\n\nWhen Gilligan first hit Burlington, Bernie Sanders was mayor, Madeleine Kunin just got elected governor, Phish was a typo. Nobody ever heard of Bill Clinton. The lakefront bikepath did not exist.\n\nThings change.\n\nThat\'s why we had to check Gilligan\'s pulse this week. At no time in his 16 years of whistling Vermont line changes has Mike Gilligan been here before. It\'s uncharted territory. The numbers don\'t lie. As the old Green & Gold prepared for Tuesday night\'s game against non-league opponent UMass-Amherst, Vermont is 4-0 and flying solo in first place in the ECAC.\n\nYeah, yeah, yeah, I know. It\'s much too early to suggest that Cinderella is spending the winter in Burlington, Vermont. Way too early. Dream on, right?\n\nBut they say the darkest hour comes right before the dawn. And everybody remembers the black night that swallowed UVM last season. However, what these guys have been doing on the ice speaks volumes.\n\n"They learned quite a bit last season," Gilligan told Seven Days. "They learned how precious one game is. How precious a night on the ice is."\n\nIt shows.\n\nAnd make no mistake, this is a disciplined team in more ways than one. Gilligan told us forward Graham Mink, a junior from Stowe, Vermont, sat out the first four games as punishment for breaking an undisclosed team rule. When he finally got to play in the Yale game, Big Mink played like a gorilla on ice skates.\n\nA couple of Minnesota schools are coming in this weekend for a Saturday-Sunday tournament at the Gut with Gilligan\'s Gorillas and UNH. Duluth and Mankato, in the giant Minnesota state university system, will hit Burlap with some rock-\'em-sock-\'em "western-style" hockey. Welcome to Vermont, boys!\n\nMedia Notes — Is there Mardi Gras coverage in Sera Congi\'s future?\n\nCongi is the talented co-anchor of "Vermont\'s Own" Ch. 3',
 'The 1945 Sinkings of the Cap Arcona and the Thielbek\n\nAllied Attacks Killed Thousands of Concentration Camp Inmates\n\nBy Mark Weber\n\nAll prisoners of German wartime concentration camps who perished while in German custody are routinely regarded as "victims of Nazism" -- even if they lost their lives as direct or indirect result of Allied policy. Similarly, all Jews who died in German captivity during World War II -- no matter what the cause of death -- are counted as "victims of the Holocaust."\n\nThis view is very misleading, if not deceitful. In fact, many tens of thousands of camp inmates and Jews lost their lives as direct and indirect victims of Allied action, or of the horrors of the Second World War. For example, the many thousands of Jews who perished in the notorious Bergen-Belsen camp during and after the final months of the war in Europe, including Anne Frank, were primarily victims not of German policy, but rather of the turmoil and chaos of war.\n\nAmong the German concentration camp prisoners who perished at Allied hands were some 7,000 inmates who were killed during the war\'s final week as they were being evacuated in three large German ships that were attacked by British war planes. This little-known tragedy is one of history\'s greatest maritime disasters.\n\nThe Cap Arcona, launched in May 1927, was a handsome passenger ship of the "Hamburg-South America" line. At 27,000 gross registered tons, it was the fourth-largest ship in the German merchant marine. For twelve years -- until the outbreak of war in 1939 -- she had sailed regularly between Hamburg and Rio de Janeiro. In the war\'s final months she was pressed into service by the German navy to rescue refugees fleeing from areas in the east threatened by the Red Army. This was part of a vast rescue operation organized by the German navy under the supervision of Grand Admiral Karl Dönitz. All but unknown in the United States today, this great undertaking saved countless lives. The Thielbek, a much smaller ship of 2,800 gross registered tons, was also used to transport refugees as part of the rescue operation.\n\nIn April 1945, Karl Kaufmann, Gauleiter of Hamburg and Reich Commissioner for merchant shipping, transferred the Cap Arcona and the Thielbek from naval command, and ordered them to Neustadt Bay in the Baltic Sea near the north German city of Lübeck.\n\nSome 5,000 prisoners hastily evacuated from the Neuengamme concentration camp (a few miles southeast of Hamburg) were brought on board the Cap Arcona between April 18 and 26, along with some 400 SS guards, a naval gunnery detail of 500, and a crew of 76. Similarly the Thielbek took on some 2,800 Neuengamme prisoners. Under the terrible conditions that prevailed in what remained of unoccupied Germany during those final weeks, conditions for the prisoners on board the two vessels were dreadful. Many of the tightly packed inmates were ill, and both food and water were in very short supply.\n\nOn the afternoon of May 3, 1945, British "Typhoon" fighter-bombers, striking in several attack waves, bombarded and fired on the Cap Arcona and then the Thielbek. The two ships, which had no military function or mission, were flying many large white flags. "The hoisting of white flags proved useless," notes the Encyclopedia of the Third Reich. The attacks were thus violations of international law, for which -- if Britain and not Germany had been the vanquished power -- British pilots and their commanders could have been punished and even executed as "war criminals."\n\nThe Thielbek, struck by rockets, bombs and machine gun fire, sank in just 15-20 minutes. British planes then fired on terror-stricken survivors who were struggling in rescue boats or thrashing in the cold sea. Nearly everyone on board the Thielbek perished quickly, including nearly all the SS guards, ship\'s officers and crew members. Only about 50 of the prisoners survived.\n\nThe burning Cap Arcona took longer to go under. Many inmates burned to death. Most of those who were able to leap overboard drowned in the cold sea, and only some 350-500 could be rescued. During the next several days hundreds of corpses washed up on nearby shores, and were buried in mass graves. Having sunk in shallow water, the wreck of the capsized Cap Arcona remained partially above water as a grim reminder of the catastrophe.\n\nA German reference work, Verheimlichte Dokumente, sums up:\n\nA particularly barbaric Allied war crime was the bombing on May 3, 1945, by British Royal Air Force planes of the passenger ships Cap Arcona and Thielbek in the Lübeck bay, packed with concentration camp inmates. Among the many \'nameless\' victims were many prominent political figures, a fact that is hushed up today because the fact that concentration camp inmates, many of them',
 'Kim Kardashian is jumping on the hype wave and releasing a fidget spinner. The spinner is a gold money symbol and it says "daddy," which is apt since it\'s called the Daddy Money Fidget Spinner. It can be yours — with a seven-day shipping delay because these things take time — for the low price of $15, plus $4 for shipping\n\nFidget spinners are apparently still a thing. But since I could not give less of a shit about them, I asked my colleague and noted fidget spinner enthusiast, Ashley Carman, what she thought about Kim\'s latest business endeavor.\n\n"I would never spend $15 on a Kim K spinner," says Carman.\n\nWell there you have it. Have a nice weekend.',

In [0]:
#code to label the data (webtext=1, gpt-2=0)
data_dir = "/content/drive/My Drive/Colab Notebooks/data/"

def load_split(data_dir, source, split, n=np.inf):
    webtext = _load_split(data_dir, 'webtext', split, n=n//2)
    gen = _load_split(data_dir, source, split, n=n//2)
    texts = webtext+gen
    labels = [0]*len(webtext)+[1]*len(gen)
    return texts, labels
  
texts, labels = load_split(data_dir, "xl-1542M-k40", "train")

In [0]:
# print(texts[250000])
# print(labels[250000])

#Dataframes creation

In [0]:
#create full df (500k docs)
df = pd.DataFrame(texts, columns=["text"])
df["labels"] = labels
df.head()

                                                text  labels
0  These girlfriends deserves a special mention f...       0
1  LeSean McCoy going through warmups with first ...       0
2  Tom Curran has been called up to England's Ash...       0
3  We'll have turkey on the table Thursday but, a...       0
4  The 1945 Sinkings of the Cap Arcona and the Th...       0

In [0]:
#create subsets for testing code

gpt2_subset500 = df[:500]
webtext_subset500 = df[250000:250500]
subset_1000 = pd.concat([gpt2_subset500,webtext_subset500]).reset_index()
#subset_1000.to_csv(data_dir+"subset_1k.csv", index = True)

gpt2_subset5k = df[:5000]
webtext_subset5k = df[250000:255000]
subset_10k = pd.concat([gpt2_subset5k,webtext_subset5k]).reset_index()
#subset_10k.to_csv(data_dir+"subset_10k.csv", index = True)

gpt2_subset25k = df[:25000]
webtext_subset25k = df[250000:275000]
subset_50k = pd.concat([gpt2_subset25k,webtext_subset25k]).reset_index()
#subset_50k.to_csv(data_dir+"subset_50k.csv", index = True)

gpt2_subset50k = df[:50000]
webtext_subset50k = df[250000:300000]
subset_100k = pd.concat([gpt2_subset50k,webtext_subset50k]).reset_index()
#subset_100k.to_csv(data_dir+"subset_100k.csv", index = True)

gpt2_subset100k = df[:100000]
webtext_subset100k = df[250000:350000]
subset_200k = pd.concat([gpt2_subset100k,webtext_subset100k]).reset_index()
#subset_200k.to_csv(data_dir+"subset_200k.csv", index = True)

#EDA (early data analysis)

In [0]:
# code to prompt google to give me more ram
a = []
while(1):
    a.append("1")

ERROR! Session/line number was not unique in database. History logging moved to new session 63

In [6]:
path = "/content/drive/My Drive/Colab Notebooks/data/subset_100k.csv"
subset_100k = pd.read_csv(path, index_col=0).reset_index(drop=True)
subset_100k.head()

   index                                               text  labels
0      0  These girlfriends deserves a special mention f...       0
1      1  LeSean McCoy going through warmups with first ...       0
2      2  Tom Curran has been called up to England's Ash...       0
3      3  We'll have turkey on the table Thursday but, a...       0
4      4  The 1945 Sinkings of the Cap Arcona and the Th...       0

In [0]:

spacy_en = spacy.load("en_core_web_sm", disable=["tagger", "parser", "ner","textcat"])

# def word_tokenize(text):
#     """
#     Tokenizes English text from a string into a list of strings (tokens)
#     """
#     return [tok.text for tok in spacy_en(text)]

# def sent_tokenize(text):
#     """
#     Tokenizes English text from a string into a list of strings (tokens)
#     """
#     return [tok.text for tok in spacy_en(text)]

spacy_en.add_pipe(spacy_en.create_pipe('sentencizer')) #adding sentence tokenizer

In [33]:
subset_100k.head()

   index                                               text  labels
0      0  These girlfriends deserves a special mention f...       0
1      1  LeSean McCoy going through warmups with first ...       0
2      2  Tom Curran has been called up to England's Ash...       0
3      3  We'll have turkey on the table Thursday but, a...       0
4      4  The 1945 Sinkings of the Cap Arcona and the Th...       0

In [8]:
tokenized = spacy_en(subset_100k["text"][0])

for tok in tokenized:
  print(tok.text)
  break

for sent in tokenized.sents:
  print(sent)
  break

print(len(tokenized))

These
These girlfriends deserves a special mention for going that extra mile, hopefully doesn't set too many guys off on the path towards outrageous demands.
126

In [9]:
#takes less than 10 minues
start = time.time()
subset_100k["spacy_doc"] = subset_100k["text"].map(lambda x: spacy_en(x))
end = time.time()
print("time to tokenize (in secs):", end-start)
# df["tokenized_words"] = df["text"].map(lambda x: word_tokenize(x))
# df["tokenized_sents"] = df["text"].map(lambda x: sent_tokenize(x))
# tokens_sentences = [word_tokenize(t) for t in sent_tokenize(df["text"][0])]

time to tokenize (in secs): 396.71734619140625

In [10]:
print(len(subset_100k["spacy_doc"][0]))
print(len(list(subset_100k["spacy_doc"][0].sents)))

126
16

In [11]:
subset_100k.head()

   index  ...                                          spacy_doc
0      0  ...  (These, girlfriends, deserves, a, special, men...
1      1  ...  (LeSean, McCoy, going, through, warmups, with,...
2      2  ...  (Tom, Curran, has, been, called, up, to, Engla...
3      3  ...  (We, 'll, have, turkey, on, the, table, Thursd...
4      4  ...  (The, 1945, Sinkings, of, the, Cap, Arcona, an...

[5 rows x 4 columns]

In [0]:
subset_100k["len_words"] = subset_100k["spacy_doc"].map(lambda x: len(x))

subset_100k["len_sents"] = subset_100k["spacy_doc"].map(lambda x: len(list(x.sents)))

In [13]:
#summary statistics for first 50k of 1542M-train-topk40 and 50k of webtext; total 100k docs

print("average words per doc:", np.mean(subset_100k["len_words"]))

print("average sents per doc:", np.mean(subset_100k["len_sents"]))

print("max words by doc:", np.max(subset_100k["len_words"]))

print("max sents by doc:", np.max(subset_100k["len_sents"]))

print("min words by doc:", np.min(subset_100k["len_words"]))

print("min sents by doc:", np.min(subset_100k["len_sents"]))

print("total vocab:", len(spacy_en.vocab))

average words per doc: 560.04114
average sents per doc: 22.24292
max words by doc: 4301
max sents by doc: 257
min words by doc: 2
min sents by doc: 1
total vocab: 14303

14303

In [30]:
words = subset_100k.spacy_doc.tolist()
print(words[0].text)

flat_list = [sublist.text for sublist in words]
len(flat_list)

These girlfriends deserves a special mention for going that extra mile, hopefully doesn't set too many guys off on the path towards outrageous demands.

1. She knows the severity of man-flu

2. All fun and games is all good

3. A voucher that says 'I love you'

4. When arguments don't drag on forever.

5. Providing everything he needs.

6. Very understanding

7. As awesome a gesture as this is, we are worried about this man's cooking skills.

8. Nice cake

8. Fair bargaining

9. Excellent gift choice

10. Very thoughtful

100000

In [18]:
words_set = set()

for sent in words:
  print(sent)
  words_set.add(sent)
  break

These girlfriends deserves a special mention for going that extra mile, hopefully doesn't set too many guys off on the path towards outrageous demands.

1. She knows the severity of man-flu

2. All fun and games is all good

3. A voucher that says 'I love you'

4. When arguments don't drag on forever.

5. Providing everything he needs.

6. Very understanding

7. As awesome a gesture as this is, we are worried about this man's cooking skills.

8. Nice cake

8. Fair bargaining

9. Excellent gift choice

10. Very thoughtful

In [0]:
subset_100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   index      100000 non-null  int64
 1   text       100000 non-null  object
 2   labels     100000 non-null  int64
 3   spacy_doc  100000 non-null  object
 4   len_words  100000 non-null  int64
 5   len_sents  100000 non-null  int64
dtypes: int64(4), object(2)
memory usage: 4.6+ MB

In [0]:
subset_100k.describe(include="all")

                index  ...      len_sents
count   100000.000000  ...  100000.000000
unique            NaN  ...            NaN
top               NaN  ...            NaN
freq              NaN  ...            NaN
mean    149999.500000  ...      22.242920
std     125831.203078  ...      14.769812
min          0.000000  ...       1.000000
25%      24999.750000  ...      10.000000
50%     149999.500000  ...      20.000000
75%     274999.250000  ...      33.000000
max     299999.000000  ...     257.000000

[11 rows x 6 columns]

In [0]:
subset_100k[subset_100k["labels"]==0].describe()

              index   labels     len_words     len_sents
count  50000.000000  50000.0  50000.000000  50000.000000
mean   24999.500000      0.0    522.453340     21.101920
std    14433.901067      0.0    324.362722     14.931696
min        0.000000      0.0     10.000000      1.000000
25%    12499.750000      0.0    216.000000      8.000000
50%    24999.500000      0.0    490.000000     18.000000
75%    37499.250000      0.0    878.000000     32.000000
max    49999.000000      0.0   2211.000000    162.000000

In [0]:
subset_100k[subset_100k["labels"]==1].describe()

               index   labels     len_words     len_sents
count   50000.000000  50000.0  50000.000000  50000.000000
mean   274999.500000      1.0    597.628940     23.383920
std     14433.901067      0.0    319.380235     14.516876
min    250000.000000      1.0      2.000000      1.000000
25%    262499.750000      1.0    313.000000     12.000000
50%    274999.500000      1.0    592.000000     21.000000
75%    287499.250000      1.0    943.000000     34.000000
max    299999.000000      1.0   4301.000000    257.000000

In [0]:
dir(subset_100k["spacy_doc"][0])

['_',
 '__bytes__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '_bulk_merge',
 '_py_tokens',
 '_realloc',
 '_vector',
 '_vector_norm',
 'cats',
 'char_span',
 'count_by',
 'doc',
 'ents',
 'extend_tensor',
 'from_array',
 'from_bytes',
 'from_disk',
 'get_extension',
 'get_lca_matrix',
 'has_extension',
 'has_vector',
 'is_nered',
 'is_parsed',
 'is_sentenced',
 'is_tagged',
 'lang',
 'lang_',
 'mem',
 'merge',
 'noun_chunks',
 'noun_chunks_iterator',
 'print_tree',
 'remove_extension',
 'retokenize',
 'sentiment',
 'sents',
 'set_extension',
 'similarity',
 'tensor',
 'text',
 'text_with_ws',
 'to_array',
 'to_bytes',
 'to_disk',
 'to_json',
 'to_utf8_array',
 'user_data',
 'user_hooks',
 'user_span_hooks',
 'user_token_hooks',
 'vector',
 'vector_norm',
 'vocab']

14303